@model PostOffice2013_KharitonovAlexey.Models.PostItem

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PostItem</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IDWorker)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IDWorker)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sender)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sender)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SenderAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SenderAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RecipientAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RecipientAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TypeDeparture)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TypeDeparture)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CostOfSending)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CostOfSending)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StatusOfMandate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StatusOfMandate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CashOnDelivery)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CashOnDelivery)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PriceCOD)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PriceCOD)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SentReceived)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SentReceived)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FailureObtaining)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FailureObtaining)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
