@model PostOffice2013_KharitonovAlexey.Models.PensionPayment

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PensionPayment</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IDPayment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IDPayment)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IDPensioner)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IDPensioner)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataPayment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataPayment)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Payout)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Payout)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IDWorker)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IDWorker)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
