@model IEnumerable<PostOffice2013_KharitonovAlexey.Models.PensionPayment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDPensioner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payout)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDWorker)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDPayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDPensioner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataPayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payout)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDWorker)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
