@model PostOffice2013_KharitonovAlexey.Models.BagM

@{
    ViewBag.Title = "Details";
}

<h2>Подробнее</h2>

<fieldset>
    <legend>BagM</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IDPostItem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IDPostItem)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Registered)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Registered)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Weight)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Weight)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Вернуться обратно", "Index")
</p>
