@model PostOffice2013_KharitonovAlexey.Models.PostCard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PostCard</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IDPostItem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IDPostItem)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Registered)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Registered)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Message)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Message)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Payment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Payment)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
