@model PostOffice2013_KharitonovAlexey.Models.FeedbackOnTheWorker

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>FeedbackOnTheWorker</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.ViewReviews)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ViewReviews)
            @Html.ValidationMessageFor(model => model.ViewReviews)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TextReview)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TextReview)
            @Html.ValidationMessageFor(model => model.TextReview)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AdmResponse)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AdmResponse)
            @Html.ValidationMessageFor(model => model.AdmResponse)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IDWorker)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IDWorker)
            @Html.ValidationMessageFor(model => model.IDWorker)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
