@model IEnumerable<PostOffice2013_KharitonovAlexey.Models.FeedbackOnTheWorker>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ViewReviews)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TextReview)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdmResponse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDWorker)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ViewReviews)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TextReview)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdmResponse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDWorker)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
